body{
    background-color:black;
}
.wrapper{
    width: 1460px;
    margin: 0 auto;
}
.startbox{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    
}   
.logoright{
    text-decoration: none;
    color: #E4B564;
}
.logobox_right{
    display: flex;
  align-items: center;
    border: 1px solid #E4B564;
    padding: 0 25px;
}
.first_header{
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    
}
.first_paragraph{
    color: #FFFFFF;
    font-weight: bold;
}
.first_item_text{ 
    color: #FFFFFF;
   font-weight: bold;
   text-align: center;
}
.first_container {
    display: grid;
    grid-template: 
    "item_one item_one item_two item_two item_three item_three" 
    "item_four item_four item_four item_five item_five item_five";
    grid-gap: 25px ;   
    font-size: 20px;
    color: #FFFFFF;   
    width: 100%; 
    height: 1000px;
    margin-top: 40px;
    margin-bottom: 160px;
    
    }
    .item{
        display: grid;
       
    }
    .first_item_text{
        margin: auto;
        font-size: 20px;
        font-weight: bold;
    }
    .first_item1 { 
        grid-area: item_one; 
        background-color: #634F2C;
       
    }
    .first_item2 { 
        grid-area: item_two;
        background-color: #B4A385; 
        
    }
    .first_item3 {
        grid-area: item_three;
        background-color: #E4B564;
        
    }
    .first_item4 { 
       grid-area: item_four;
       
       background-color: #635A4A;
     }
    .first_item5 {
       grid-area: item_five;
      
       background-color: #B08C4D;
    }
    .second_header{
        font-size: 50px;
        color: #FFFFFF;
        font-weight: bold;
    }
    
     .second_container {
        display: grid;
        grid-template: 
        "item1 item3 item5"
        "item1 item3 item5"
        "item2 item3 item6"
        "item2 item4 item6"
        "item2 item4 item7"
        "item2 item4 item7";
        height: 900px;
        grid-gap: 25px ;
        margin-top: 94px;
        margin-bottom: 200px;
        }
    .second_item_text{
        display: block;
     margin-top: 50px;
     margin-left: 50px;
     ;
    }

    .item_1 {
     grid-area:item1;
     width: 467px; 
     background-color: #0E0E0E;
         }
    .item_2 {
    grid-area:item2;
    width: 467px; 
    background-color: #1F1F1F;
        }
    .item_3 {
     grid-area:item3; 
     width: 467px;
     background-color: #242424;
        }
    .item_4 { 
     grid-area:item4; 
     width: 467px;
     background-color: #E4B564;
        }
     .item_5 { 
     grid-area:item5 ; 
     width: 467px;
     background-color: #1F1F1F;
        }
     .item_6 { 
     grid-area:item6 ;
     width: 467px;
     background-color: #0E0E0E;
         }
     .item_7 { 
     grid-area:item7 ;
     width: 467px;
     background-color: #0A0909;
         }
    .last_section{
    height: 1054px;
    background-color: #0E0E0E;
         }
    .header{
    display: flex;
    justify-content: space-between;
     }
    
    
.last_header{
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 70px;
   

}
.last_container
     {
     display: grid;
     grid-template: 
     "item-1 item-2 item-3"
     "item-4 item-5 item-6";
      width: 1460px;
      height: 782px;

        }
 /* .logo_last_left{
    margin: 10px 40px 10px 40px;
 }        */
.logo_last{
    display: block;
    border: 1px solid #E4B564;
    padding: 10px 40px 10px 40px;
}
.last_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 487px;
    height: 391px;
}
.last_item_1{
   
    grid-area: item-1;
    background-color: #634F2C;

}
.last_item_2{
    grid-area: item-2;
    background-color: #E8D2ABC2;
    
}
.last_logo_box{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.last_item_3{
    grid-area: item-3;
    background-color:#E4B564;
   
}
.last_item_4{
    grid-area: item-4;
    background-color:#635A4A;
}  
.last_item_5{
    grid-area: item-5;
    background-color:#B08C4D;
}
.last_item_6{
    grid-area: item-6;
    background-color:#634F2C;
}
